# Logs
logs
*.log

#project
dist
dist*
coverage
yarn-lock.json
package-lock.json

#node
node_modules
npm-debug.log

#IDEs
.idea
*.iml
*.sublime-*

#Mac OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Atom
.tern-project

# vscode chrome debugger
.vscode/chrome
.vscode/settings.json

# Secrets
.env
receiver-url.json
